body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;

}

header h1 {
    margin: 0;
}

.animated-bounce {
    animation: bounce 2s infinite;
    font-weight: bold;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

main {
    padding: 20px;
    text-align: center;
}


.flex-container {
    display: flex;
    justify-content: space-between; 
}

.testimonial, .contact {
    flex: 1;
}




#games {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    text-align: center;

}

.game {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    width: 30%;
    text-align: center;
}

.game img {
    width: 45%;
    height: auto;
    border-radius: 5px;
}

.buy-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #0056b3;
}

#testimonials {
    margin-bottom: 20px;
}

blockquote {
    background-color: white;
    border-left: 5px solid #007BFF;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    font-style: italic;
}

.stars {
    color: #ffd700;
}

#contact {
    margin-bottom: 20px;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
